Body {
    margin: 0;
    font-family: 'Rock Salt', cursive;
    background-color:  #e9ecef;
}


nav {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px;
    background-color: rgb(49,50,57);
    justify-content: space-between; 
    position: fixed;
}

.main-layout {
    max-width: 1280px;
    margin: 0 auto;
}

.logonav {
    height: 40px;
    padding: 15px;
    display: flex;
    margin-left: 20px;
}

.logomenu {
    width: 30px;
    height: 30px;
    display: flex;
    padding: 15px;
}

.secciones {
    display: none;
}
#menu {
    display: none;
}

#menu:checked ~ .secciones_movile {
    display: flex;
    flex-direction: column;
    margin-top: 220px;
    position: absolute;
    margin-left: 230px;
    list-style: none;
    background-color: rgb(49,50,57);
    padding: 15px;
    right: 10px;
}

.secciones_movile {
    display: none;
}

.sections {
    color: rgb(230,230,230);
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
}

.portada {
    width: 100%;
    line-height: 0;
    background-color: #6c757d;
}

.img_portada {
    width: 100%;
    height: 500px;
    padding-top: 50px;    
}
.banner {
    background-color: #6c757d;
    text-align: center;
}

.slogan {
    width: auto;
    height: 60px;
    color:rgb(230,230,230) ;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
    margin-top: 0;            
}

.logoflor {
    width: 40px;
    height: 50px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-left: auto;
}

#about-me {
    width: 100%;
    height: auto;
    background-color: #e9ecef;
    margin-top: 0;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
}

.portada2 {
    width: 100%;
    height: 500px;
    bottom: 0;
}

.segundaportada {
    line-height: 0;
}

.formulario {
    display: flex;
    flex-direction: column;
    background-color: #e9ecef;
}

.comentarios {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    color:rgb(49, 50, 57); ;
}

.email {
    margin: 15px auto;
    line-height: 20px;
    border-radius: 5px;
    width: 300px;
}

.mensaje {
    
    height: 40px;
    margin: 15px auto;
    background-color: #f8f9fa;
    border-radius: 5px;
    width: 300px;
}

.enviar {
    font-weight: bold;
    margin: 15px auto 40px;
    background-color: rgb(49, 50, 57);
    color:#e9ecef;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
}

#contact {
    display: flex;
    background-color:rgb(49,50,57); 
    flex-wrap: wrap;
    justify-content: center;
}

.contactanos {
    width: 100%;
    text-align: center;
    color: #e9ecef;
    margin-bottom: 0;
}

.whatsapp {
    display: flex;
    width: 35px;
    height: 35px;
    padding: 10px;
}

.instagram {
    display: flex;
    width: 35px;
    height: 35px;
    padding: 10px;
}

.ubicacion{
    width: 100%;
    font-size: smaller;
    text-align: center;
    color: #e9ecef;
}
.tel {
    display: flex;
    text-align: center;
    font-size: smaller;
    color: #e9ecef;
}

@media (min-width: 1024px) {
    nav {
        height: 80px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .logomenu {
        display: none;
    }
    .secciones {
        display: flex;
        list-style: none;
          
    }
  
    .item {
        margin: 20px 15px 0 20px;
        
        
    }
    .img_portada {
        height: 400px;
    }
}